<div class="row">
  <h2>{{ edifici?.properties?.descripcio }}</h2>
  <div id="edifici_map"></div>
  <div id="popup"  title="Welcome to OpenLayers" #popup>
      HOLA MON
</div>
</div>


<div class="row">

  <div class="card" style="width: 18rem;">
    <img [src]="edifici?.properties?.foto" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ edifici?.properties?.descripcio }}</h5>
      <p class="card-text">
        <a [href]="edifici?.properties?.web_turismo">{{
          edifici?.properties?.descripcio
        }}</a>
        <span [innerHTML]="edifici?.properties?.pdf"></span>
      </p>

    </div>
  </div>

</div>
