<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title mb-0">Editar Planta: {{ planta().nom }}</h3>
    </div>
    <div class="card-body">
      
      <form>
        <div class="row g-3">
          <div class="col-md-8">
            <label class="form-label fw-bold">Nombre de la Planta</label>
            <input
              type="text"
              class="form-control"
              [formField]="plantaForm.nom"
              [ngClass]="{
                'is-invalid': plantaForm.nom().invalid() && plantaForm.nom().touched(),
              }"
            />
          </div>
          @if (plantaForm.nom().touched() && plantaForm.nom().invalid()) {
            <ul class="alert alert-danger" role="alert">
              @for (error of plantaForm.nom().errors(); track error) {
                <li>{{ error.message }}</li>
              }
            </ul>
          }

          <div class="col-md-4">
            <label class="form-label fw-bold">Capacidad</label>
            <input
              type="number"
              class="form-control"
              [formField]="plantaForm.capacitat"
              [ngClass]="{
                'is-invalid': plantaForm.capacitat().invalid() && plantaForm.capacitat().touched(),
              }"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Usuario</label>
            <input type="text" class="form-control" [formField]="plantaForm.user" />
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">URL Foto</label>
            <input
              type="text"
              class="form-control"
              placeholder="https://..."
              [formField]="plantaForm.foto"
            />
          </div>

          <img [src]="imagePreview()" class="img-fluid rounded mb-3 image-prev">

          <div class="col-md-6">
            <label class="form-label fw-bold">Foto</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" />
          </div>

          <div class="col-12">
            <div class="p-3 border rounded bg-light">
              <p class="fw-bold mb-2"><i class="bi bi-geo-alt"></i> Coordenadas</p>
              <div class="row g-2">
                <div class="col-6">
                  <label class="small">Latitud</label>
                  <input
                    type="number"
                    step="any"
                    class="form-control form-control-sm"
                    [formField]="plantaForm.ubicacio.latitude"
                  />
                </div>
                <div class="col-6">
                  <label class="small">Longitud</label>
                  <input
                    type="number"
                    step="any"
                    class="form-control form-control-sm"
                    [formField]="plantaForm.ubicacio.longitude"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="favCheck" />
              <label class="form-check-label" for="favCheck">Marcar como favorita</label>
            </div>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-end gap-2">
          @if (!planta().id) {
          <button  class="btn btn-primary" (click)="crearPlanta($event)">Crear Planta</button>
          }
          @if (planta().id) {
            <button  class="btn btn-primary">Guardar Cambios</button>
          }
        </div>
      </form>
  
    
      {{ planta() | json }}
      {{ plantaModel() | json }}
      {{imageFile()}}
    </div>
  </div>
</div>
