.container{
    margin: auto;
    width: 80%;

}

.noticia img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.noticia {
    margin: 10px;
    padding: 10px;
    border: 1px solid #555;
    font-family: Arial, Helvetica, sans-serif;
}

.noticia h3 {
    margin: 0px;
}

.noticia h4 {
    font-size: smaller;
    color: #333;
    margin: 0;
}