<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form  #loginForm="ngForm" novalidate>
              <!-- 2 column grid layout with text inputs for the first and last names -->

              @if(mode === 'register'){
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>
            }

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input minlength="5"
                maxlength="600"
               name="email" 
               [(ngModel)]="email" 
               type="email" 
               id="form3Example3" 
               class="form-control" 
               #emailModel="ngModel"
               [ngClass]="{'is-valid': emailModel.valid && emailModel.dirty}"
               />
                <label class="form-label" for="form3Example3">Email address</label>
                @if (emailModel.touched && emailModel.invalid){
                  <div class="alert alert-danger">
                    Email requerido (entre 5 y 60 caracteres)</div>

                }
    
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input name="password" [(ngModel)]="password" type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              @if(error){
              <div  class="form-outline mb-4 text-danger">
                  {{error}}
              </div>
            }





              <!-- Submit button -->
              <button (click)="login()" type="submit" class="btn btn-primary btn-block mb-4">
                {{mode === 'login' ? 'Login' : 'Register'}}
              </button>




            </form>

            <div>Touched: {{ loginForm.touched }}</div>
   <div>Valid: {{ loginForm.valid }}</div>
   <div>Value: {{ loginForm.value | json }}</div>
   <div>Descripción: {{loginForm.control.get('email')?.value | json}}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/computer.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
          IBM PC Convertible

Introduced to consumers in 1986, the IBM PC Convertible is IBM’s first laptop computer.
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<!--https://mdbootstrap.com/docs/standard/extended/login/#pills-register -->
