<td>
  <div class="fletxes">
    <span (click)="canviarPosicio(-1)">↑</span
    ><span (click)="canviarPosicio(1)">↓</span>
  </div>
</td>
<td>
  <img [src]="punto?.properties?.foto" class="foto" />
</td>
<td>
  <input type="text" [(ngModel)]="name" />
  <button class="btn btn-dark" (click)="canviarNom()">Canviar</button>
  <a [href]="punto?.properties?.web_turismo">{{
    punto?.properties?.descripcio
  }}</a>
</td>
<td [innerHTML]="punto?.properties?.pdf"></td>
<td>
  <span
    *ngFor="let estrella of [1, 2, 3, 4, 5]"
    (mouseenter)="ratting_aux = estrella"
    (mouseleave)="ratting_aux = ratting!"
    (click)="canviarRattingAux(ratting_aux)"
  >
    {{ estrella <= ratting_aux ? "★" : "☆" }}
  </span>
  <input type="text" [(ngModel)]="ratting_input" />
  <button class="btn btn-dark" (click)="canviarRatting()">Canviar</button>
</td>
<td>
  <a [routerLink]="['/edifici', punto?.properties?.id]">Mapa</a>
</td>
