td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr.parell {
  background-color: #eee;
}
tr:hover {
  background-color: #ddd;
}

.foto {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.fletxes span {
  display: block;
  font-size: 40px;
}
