#container {
    display: flex;
    flex-wrap: wrap;
}

div.artWork {
    border: 1px solid #333;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
}

div.artWork img{
    width: 300px;
    border-radius: 5px;
}