@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

@font-face {
  font-family: Mayonize;
  src: url('/Mayonice.ttf') format('truetype');

}

@font-face {
  font-family: ATHE;
  src: url('/ATHEROSSER.ttf') format('truetype');

}

h3 {
    font-size: 1.5em;
  font-family: 'ATHE';
}

p {
    font-family: 'Poppins', sans-serif;   
}

h2 {
    /* Tipografía */
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.2;
  
    /* Colores */
    color: #4A4A4A; /* Suave tono gris */
    background: linear-gradient(135deg, #FFBF69 0%, #FF9F1C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Sombras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  
    /* Bordes y subrayado decorativo */
    border-bottom: 4px solid transparent;
  
  border-image: linear-gradient(135deg, #FFBF69 0%, #FF9F1C 100%) 1;
    padding-bottom: 0.2rem;
  
    /* Espaciado */
    margin: 1rem 0;
  
    /* Transformaciones sutiles */
    transform: translateY(0);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
  
    /* Ajustes de alineación */
    text-align: center;
  }
  
  h2:hover {
    /* Efecto de flotación */
    transform: translateY(-5px);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  

h2{

  font-family: 'Dancing Script', cursive; /* Fuente para títulos */
}
