<div class="container">
  <h2>{{recipe?.strMeal}}</h2>
  <div class="row">
    <div class="col-md-12">
      <!-- Imagen flotante -->
      <img src="{{recipe?.strMealThumb}}" alt="{{recipe?.strMeal}}"
           class="img-fluid float-md-end ms-md-4 mt-md-4 mb-3 rounded"
           style="max-width: 500px;">


           <img src="/otrosarrays.png" alt="">
      <!-- Título y texto -->

      <h3>Instructions</h3>
      <p>{{recipe?.strInstructions}}</p>
      <a [routerLink]="['/edit_recipe',recipe?.idMeal]"  class="btn btn-brand-orange">Edit</a>
      <!-- TODO -->
      <a   class="btn btn-brand-orange">Create Shared Recipe</a>
      <!-- TODO -->
      <a   class="btn btn-brand-orange" (click)="loadPDF()"> pdf
      </a>
      
        <a   class="btn btn-brand-orange" (click)="loadPDFBase64()"> base64
        </a>
        <a   class="btn btn-brand-orange" (click)="loadPDFBase64blob()"> base64 Blob
        </a>

        <form>
          <label for="file">Selecciona un archivo:</label>
          <input type="file" id="file" (change)="onFileChange($event)" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx">
          <button class="btn btn-primary" (click)="asignarPDF($event)">Asignar PDF</button>
        </form>
    </div>
  </div>
  <embed [src]="srcPDF" type="application/pdf">
    <embed [src]="PDFbase64" type="application/pdf">
  <!-- Lista de ingredientes -->
  <h3>Ingredients</h3>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    @for (ingredient of ingredients; track $index) {
      @if (ingredient) {
        <div class="col">
          <app-ingredient [ingredient]="ingredient"></app-ingredient>
        </div>
      }
    }
  </div>
</div>


