#container {
    width: 80%;
    margin: auto;
}


ul#categoriesList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul#categoriesList li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  ul#categoriesList li a:hover {
    background-color: #111111;
  }

  #factsList {
      display: flex;
      flex-wrap: wrap;
  }

  #factsList div{
    width: 45%;
    border: 1px solid #555;
    margin: 10px;
    padding: 10px;

  }


  span.like {
    color: red;
    float: right;
    font-size: 50px;
  }

