<ul>
  <li><button (click)="sendEmoji('🍔')">🍔</button></li>
  <li><button (click)="sendEmoji('🍕')">🍕</button></li>
  <li><button (click)="sendEmoji('🌮')">🌮</button></li>
  <li><button (click)="sendEmoji('🍣')">🍣</button></li>
  <li><button (click)="sendEmoji('🍦')">🍦</button></li>
</ul>

<div class="container">
@for (emoji of emoji_list; track $index) {
  <span>
    {{ emoji}}
  </span>
}

<div>
  @for (message of messages; track $index) {
    <span>
      {{ message}}
    </span>
  }
</div>
</div>


