body {
    background-color: #aaa;
    margin: 0;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.containerExemples{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

div.exempleCode {
    background: #ffffff;
    overflow: auto;
    width: auto;
    border: solid gray;
    border-width: 0.1em 0.1em 0.1em 0.8em;
    padding: 0.2em 0.6em;
}

#comparativaTime div.hover {
    position: absolute;
    font-size: 9px;
    border: 1px solid #aaa;
    display: none;
    width: 200px;
    height: 20px;
}

.containerExemples div.exemplesResum{
   width: 100%;
}

#exemple1 {
    width: 300px;
    height: 300px;
    background-color: rgb(218, 218, 218);
   
 overflow: scroll;
}

#sampleTime{
    width: 300px;
    height: 300px;
    background-color: beige;
   
 overflow: scroll;
}

.code{
    padding: 10px;
}

#comparativaTime{
    width: 100%;
    background-color: beige;
    height: 300px;
}

#comparativaTime div{
display: flex;
flex-wrap: wrap;
}

#comparativaTime div div{
    width: 10px;
    height: 10px;
}

#comparativaE{
    width: 100%;
    background-color: beige;
    height: 300px;
}

#comparativaE div{
display: flex;
flex-wrap: wrap;
}

#comparativaE div div{
    width: 10px;
    height: 10px;
}