

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#menu {
  width: 100%;
}

#data {
  width: 100%;
}

#statistics {
  width: 100%;
}




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #130f0f2d;
  }
}


table {
  font-size: 0.5em;
}

.histograma {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; 
  width: 80%;
  margin: 50px auto;
  height: 300px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.barraContenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center; /* Alinea la etiqueta y la barra al centro del contenedor */
  justify-content: flex-end;
}

.barra {
  width: 40px;
  background-color: cornflowerblue;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  transition: 0.3s ease;
}

.barra:hover {
  background-color: royalblue;
}

.barra span {
  padding: 5px 0;
}

.etiqueta {
  margin-top: 5px;
  text-align: center;
}