table {
  border-collapse: collapse;
  text-align: center;
vertical-align: middle;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}
thead th {
  width: 25%;
}

thead {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

input.is-valid {
    background-color: #aea;
}

input.is-invalid {
  background-color: #eaa;
}
