<div id="search">
  Filtrar: <input type="text" [(ngModel)]="filtre" />
  <span>{{ filtre }}</span>
</div>
<table>
  <tr>
    <th></th>
    <th (click)="ordenar('id')">Foto</th>
    <th (click)="ordenar('nom')">Nom</th>
    <th>PDF</th>
    <th>Puntuacio</th>
    <th>Mapa</th>
  </tr>
  <tr
    app-edifici
    *ngFor="let punto of datos | filtreEdificis: filtre; let parell = even"
    [ngClass]="{ parell: parell }"
    [punto]="punto"
    [ratting]="punto.properties.ratting"
    (nameChanged)="canviarNom($event, punto)"
    (rattingChanged)="canviarRatting($event, punto)"
    (positionChanged)="canviarPosicio($event, punto)"
  ></tr>
</table>
