
   table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
  
  
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr.parell {
    background-color: #eee;
  }
  tr:hover {
    background-color: #ddd;
  }
  
