<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
@for (recipe of recipes; track $index) {

    <div class="card" style="width: 18rem;">
        <img src={{recipe.strMealThumb}} class="card-img-top" alt={{recipe.strMeal}}>
        <div class="card-body">
          <h5 class="card-title">{{$index}}{{recipe.strMeal}}</h5>
          <p class="card-text">{{recipe.strInstructions}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
}
</div>
</div>
</div>